Repository delta/dalal-street-client, pull requests merged in 2021-12, with the labels that each got.

#35 Forgot Password Page, Update Bloc Dependencies
  lib/blocs/auth/forgot_password/forgot_password_cubit.dart
  lib/blocs/auth/forgot_password/forgot_password_state.dart
  lib/blocs/daily_challenges/daily_challenges_page_cubit.dart
  lib/main.dart
  lib/navigation/route_generator.dart
  lib/pages/auth/check_mail_page.dart
  lib/pages/auth/forgot_password_page.dart
  lib/pages/auth/login_page.dart
  lib/pages/auth/register_page.dart
  lib/pages/auth/verify_phone/enter_otp_page.dart
  pubspec.lock
  pubspec.yaml
Labels: new page, dependencies

#37 Refactor Exchange page
  lib/blocs/exchange/exchangeStream/exchange_stream_bloc.dart
  lib/blocs/exchange/exchangeStream/exchange_stream_event.dart
  lib/blocs/exchange/exchangeStream/exchange_stream_state.dart
  lib/blocs/exchange/exchange_cubit.dart
  lib/blocs/exchange/exchange_state.dart
  lib/blocs/exchange/sheet/exchange_sheet_cubit.dart
  lib/blocs/exchange/sheet/exchange_sheet_state.dart
  lib/global_streams.dart
  lib/main.dart
  lib/navigation/route_generator.dart
  lib/pages/exchange_page.dart
  lib/utils/convert.dart
Labels: refactor

#29 [feat]: Add Exchange Page
  lib/blocs/auth/forgot_password/forgot_password_cubit.dart
  lib/blocs/exchange/exchange_cubit.dart
  lib/blocs/exchange/exchange_state.dart
  lib/blocs/exchange/sheet/exchange_sheet_cubit.dart
  lib/blocs/exchange/sheet/exchange_sheet_state.dart
  lib/global_streams.dart
  lib/navigation/route_generator.dart
  lib/pages/exchange_page.dart
  lib/utils/convert.dart
  pubspec.lock
  pubspec.yaml
Labels: new page
