Repository delta/dalal-street-client, pull requests merged in 2022-01, with the labels that each got.

#40 [feat] [streams]: Stock map stream, User info stream
  lib/blocs/auth/login/login_cubit.dart
  lib/blocs/daily_challenges/daily_challenges_page_cubit.dart
  lib/blocs/dalal/dalal_bloc.dart
  lib/blocs/dalal/dalal_event.dart
  lib/blocs/dalal/dalal_state.dart
  lib/blocs/exchange/exchange_cubit.dart
  lib/global_streams.dart
  lib/main.dart
  lib/models/company_info.dart
  lib/models/dynamic_user_info.dart
  lib/pages/daily_challenges/daily_challenge_item.dart
  lib/pages/daily_challenges/single_day_challenges.dart
  lib/pages/exchange_page.dart
  lib/streams/generate_stock_stream.dart
  lib/streams/global_streams.dart
  lib/streams/user_info_generator.dart
  lib/utils/convert.dart
  pubspec.lock
  pubspec.yaml
Labels: streams

#39 [update]: update Exchange page UI to mockup
  assets/icon/balance.svg
  assets/icon/cross_white.svg
  lib/components/dalal_back_button.dart
  lib/constants/constants.dart
  lib/constants/icons.dart
  lib/navigation/route_generator.dart
  lib/pages/stock_exchange/components/exchange_bottom_sheet.dart
  lib/pages/stock_exchange/exchange_page.dart
  lib/theme/colors.dart
  lib/theme/typography.dart
  pubspec.lock
  pubspec.yaml
Labels: ui

#38 [Add] Stock bar
  assets/images/trendingDown.png
  assets/images/trendingUp.png
  lib/components/marquee.dart
  lib/components/stock_bar.dart
  lib/constants/format.dart
  lib/pages/home_page.dart
  pubspec.lock
Labels: new component

#45 Feat: Added Portfolio Page
  android/app/src/debug/AndroidManifest.xml
  lib/blocs/portfolio/transactions/portfolio_transactions_cubit.dart
  lib/blocs/portfolio/transactions/portfolio_transactions_state.dart
  lib/blocs/portfolio/userWorth/portfolio_cubit.dart
  lib/blocs/portfolio/userWorth/portfolio_state.dart
  lib/navigation/route_generator.dart
  lib/pages/portfolio/portfolio_page.dart
  lib/pages/portfolio/portfolio_transactions.dart
  lib/pages/portfolio/portfolio_userworth.dart
  lib/utils/transaction_to_str.dart
  pubspec.lock
Labels: new page

#46 Feat: Added News page
  android/app/build.gradle
  android/build.gradle
  lib/blocs/companies/companies_bloc.dart
  lib/blocs/news/news_bloc.dart
  lib/blocs/news/news_event.dart
  lib/blocs/news/news_state.dart
  lib/navigation/route_generator.dart
  lib/pages/home_page.dart
  lib/pages/news_page.dart
  pubspec.lock
Labels: new page

#41 Daily challenges UI. Closes #32
  assets/images/ChallengeComplete.png
  assets/images/ChallengeIncomplete.png
  assets/images/ChallengeRewardClaimed.png
  lib/blocs/daily_challenges/challenge_reward.dart/challenge_reward_cubit.dart
  lib/blocs/daily_challenges/challenge_reward.dart/challenge_reward_state.dart
  lib/blocs/dalal/dalal_bloc.dart
  lib/blocs/dalal/dalal_state.dart
  lib/main.dart
  lib/pages/daily_challenges/components/challenge_progress.dart
  lib/pages/daily_challenges/components/challenge_reward.dart
  lib/pages/daily_challenges/components/daily_challenge_item.dart
  lib/pages/daily_challenges/components/single_day_progress.dart
  lib/pages/daily_challenges/daily_challenge_item.dart
  lib/pages/daily_challenges/daily_challenges_page.dart
  lib/pages/daily_challenges/single_day_challenges.dart
  lib/pages/splash_page.dart
  lib/theme/colors.dart
  lib/utils/challenge_util.dart
  pubspec.lock
  pubspec.yaml
Labels: ui

#49 [fix] [refactor] [auth]: getIt bug in registration
  lib/blocs/auth/login/login_cubit.dart
  lib/blocs/auth/verify_phone/enter_otp/enter_otp_cubit.dart
  lib/blocs/dalal/dalal_bloc.dart
  lib/blocs/dalal/dalal_event.dart
  lib/blocs/dalal/dalal_state.dart
  lib/main.dart
  pubspec.lock
Labels: refactor, auth, bug-fix

#34 Company Page
  assets/icon/alltimehigh.svg
  assets/icon/currentprice.svg
  assets/icon/dayhigh.svg
  lib/blocs/auth/login/login_cubit.dart
  lib/blocs/companies/companies_bloc.dart
  lib/blocs/companies/companies_event.dart
  lib/blocs/companies/companies_state.dart
  lib/blocs/market_depth/market_depth_bloc.dart
  lib/blocs/market_depth/market_depth_event.dart
  lib/blocs/market_depth/market_depth_state.dart
  lib/blocs/place_order/place_order_cubit.dart
  lib/blocs/place_order/place_order_state.dart
  lib/components/buttons/outlined_button.dart
  lib/components/buttons/primary_button.dart
  lib/components/buttons/secondary_button.dart
  lib/components/buttons/tertiary_button.dart
  lib/components/stock_bar.dart
  lib/constants/icons.dart
  lib/navigation/route_generator.dart
  lib/pages/company_page/company_page.dart
  lib/pages/company_page/components/choose_buy_or_sell_bottom_sheet.dart
  lib/pages/company_page/components/company_prices.dart
  lib/pages/company_page/components/company_tab_view.dart
  lib/pages/company_page/components/market_depth.dart
  lib/pages/company_page/components/market_status_tile.dart
  lib/pages/company_page/components/news.dart
  lib/pages/company_page/components/overview.dart
  lib/pages/company_page/components/show_price_window.dart
  lib/pages/company_page/components/trading_bottom_sheet.dart
  lib/pages/home_page.dart
  lib/pages/mortgage/components/mortgage_bottom_sheet.dart
  lib/pages/stock_exchange/components/exchange_bottom_sheet.dart
  lib/theme/colors.dart
  lib/utils/calculations.dart
  pubspec.yaml
Labels: new page

#56 Mobile bottom bar
  assets/icon/daily-challenges.svg
  assets/icon/hamburger.svg
  assets/icon/home.svg
  assets/icon/mobile-ad.svg
  assets/icon/mortgage.svg
  assets/icon/news.svg
  assets/icon/notification-bell.svg
  assets/icon/open-orders.svg
  assets/icon/portfolio.svg
  assets/icon/refer-and-earn.svg
  assets/icon/rupee.svg
  assets/icon/trophy.svg
  lib/components/stock_bar.dart
  lib/constants/icons.dart
  lib/navigation/route_generator.dart
  lib/pages/dalal_home/dalal_home.dart
  lib/pages/dalal_home/dalal_home_bottom_sheet.dart
  lib/pages/dalal_home/dalal_home_nav_bar.dart
  lib/pages/home_page.dart
  lib/pages/mortgage/components/stock_mortgage_item.dart
  lib/pages/portfolio/portfolio_page.dart
  lib/pages/stock_exchange/components/stock_exchange_item.dart
  lib/pages/stock_exchange/exchange_page.dart
  pubspec.lock
Labels: enhancement, ui

#53 [feat]:Added Referral page
  assets/images/Background.png
  assets/images/Rectangle 23.png
  assets/images/Referral.png
  lib/blocs/news/news_event.dart
  lib/blocs/referral/referral_cubit.dart
  lib/blocs/referral/referral_state.dart
  lib/navigation/route_generator.dart
  lib/pages/referral_page.dart
  pubspec.lock
  pubspec.yaml
Labels: new page

#57 feat: reset password page
  lib/blocs/auth/change_password/change_password_cubit.dart
  lib/blocs/auth/change_password/change_password_state.dart
  lib/navigation/route_generator.dart
  lib/pages/auth/change_password_page.dart
  lib/pages/company_page/company_page.dart
Labels: new page

#59 feat: admin dashboard
  lib/blocs/admin/tab1/tab1_cubit.dart
  lib/blocs/admin/tab1/tab1_state.dart
  lib/blocs/admin/tab2/tab2_cubit.dart
  lib/blocs/admin/tab2/tab2_state.dart
  lib/blocs/admin/tab3/tab3_cubit.dart
  lib/blocs/admin/tab3/tab3_state.dart
  lib/constants/constants.dart
  lib/navigation/route_generator.dart
  lib/pages/admin_page/admin_page.dart
  lib/pages/admin_page/components/tab_one.dart
  lib/pages/admin_page/components/tab_three.dart
  lib/pages/admin_page/components/tab_two.dart
  lib/pages/auth/login_page.dart
  lib/utils/snackbar.dart
Labels: new page

#61 [feat] [streams]: update StockMap and UserInfo streams for new updates in GameState stream
  lib/components/stock_bar.dart
  lib/constants/exception.dart
  lib/grpc/subscription.dart
  lib/models/dynamic_user_info.dart
  lib/pages/home_page.dart
  lib/pages/mortgage/components/stock_mortgage_item.dart
  lib/pages/stock_exchange/components/exchange_bottom_sheet.dart
  lib/pages/stock_exchange/components/stock_exchange_item.dart
  lib/streams/generate_stock_stream.dart
  lib/streams/global_streams.dart
  lib/streams/stock_stream_generator.dart
  lib/streams/transformations.dart
  lib/streams/user_info_generator.dart
Labels: streams, refactor
